<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

  {{ content_for_header }}
  
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,900i">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel">
  
  {{ 'ionicons.min.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.css' | asset_url | stylesheet_tag }} 
  {{ 'assets.css' | asset_url | stylesheet_tag }} 
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'custom.ben.scss' | asset_url | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800' | stylesheet_tag }}

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  
  <link href="{{ 'favicon.ico' | asset_url }}" rel="icon" type="image/x-icon" />
  {{ settings.heading_custom_font_code }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  {{ 'ie8.css' | asset_url | stylesheet_tag }}
  <![endif]-->

<!--[if gte IE 8]>
<style type="text/css">.header_tiles ul.header_tiles-1 li.tile_currency select {padding: 0 0 0 8px !important;}</style>
<![endif]-->
  
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' | script_tag }}  

  {{ 'bootstrap.min.js'  | asset_url | script_tag }}
  {{ 'jquery-migrate-1.2.1.min.js'  | asset_url | script_tag }}
  {{ 'shop.js'  | asset_url | script_tag }}
  {{ 'jquery.nivoslider.js' | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | asset_url | script_tag }}
  {{ 'ajaxify-shop.js' | asset_url | script_tag }}
  {{ 'hoverIntent.js' | asset_url | script_tag }}
  {{ 'superfish.js' | asset_url | script_tag }}
  {{ 'supersubs.js' | asset_url | script_tag }}
  {{ 'jquery.mobilemenu.js' | asset_url | script_tag }}
  {{ 'jquery.eclipse.js' | asset_url | script_tag }}
  {{ 'sftouchscreen.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.js' | asset_url | script_tag }}
  {{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
  {{ 'jquery.caroufredsel.min.js' | asset_url | script_tag }}
  {{ 'jquery.mousewheel.js' | asset_url | script_tag }}
  {{ 'jquery.selectik.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.js' | asset_url | script_tag }}

  
{% include 'sca-quick-view-init' %} 

<script src="https://01f1ef3.netsolhost.com/productregister/assets/js/app.js" type="text/javascript"></script>
<script>
  $(document).ready(function(){
    $('.wish-heart-submit').click(function(){
    	$(this).parent().find('.hide-wish-form form').submit();
    });
  });
</script>

</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
 
<div id="wrapper">
  
  
<!-- Navigation -->
  
  
  
{% if settings.main_nav != '' %}
 {% include 'mobile-nav' %}
  <div class="container top-menu">
<div id="navigation">
<nav role="navigation">

    {% include 'main-nav' %}  
</nav>
</div>
</div>
  
<div class="menu-height">
</div>
{% endif %}

  {% comment %}
<header id="header">
  
<div class="container">

<!-- logo -->
        {% if settings.use_logo %}
        <a id="logo" href="/">
        {{ 'logo.png' | asset_url | img_tag: shop.name }}
        </a>
        {% endif %}

        <h1 id="site-title"{% if settings.use_logo %} class="hidden"{% endif %}>
        <a class="trs_color" href="/">{{ shop.name }}</a>
        </h1>

<!-- tiles -->
<div class="header_tiles">
  
<div class="top-links">
   <!-- home -->
   
   <div class="toplinks">
     <div class="links">
     <div class ="fb">
        <a href="https://www.facebook.com/LeatherwoodHiLuxOptics"><span><i class="fa fa-facebook-square"></i></span></a>
     </div>
     <div class ="twit">
        <a href="https://www.twitter.com/HiLuxOptics"><span><i class="fa fa-twitter"></i></span></a>
     </div>
     <div class ="insta">
        <a href="https://www.instagram.com/leatherwoodoptics"><span><i class="fa fa-instagram"></i></span></a>
     </div>
      {% comment %}
      This is the link on the top right to Optics
      <div class="bitbucket">
                <a href="/pages/optics"><span>Optics</span></a>
       </div>
       {% endcomment %}
      {% comment %}<div class="myaccount">{% if shop.customer_accounts_enabled %}
            {% if customer %}
                <a href="/pages/register-products"><span>Product Registration</span></a>
            {% else %}
        <a href="/account/login"><span>Product Registration</span></a>
            {% endif %}
        {% endif %}
       </div>
      <div class="pagelines">
                <a href="/pages/video"><span>Videos</span></a>
       </div>
       <div class="dribbble">
                <a href="http://hi-luxoptics.com/blog/" target="_blank"><span>Blog</span></a>
       </div>
      {% endcomment %} <!-- Removing the Reticles link (added to main menu)
       <div class="wishlist">
       		<a href="/pages/reticles"><span>Reticles</span></a>
       </div> -->
     </div> <!-- links -->
   </div> <!--toplinks-->
</div>

<ul class="header_tiles-2">
  
    {% if shop.customer_accounts_enabled %}
		{% if customer %}
        	<li>{{ '<span>Log out</span>' | customer_logout_link }}</li>
        {% else %}
    		<li>{{ "<span>Create Account</span><i class='fa fa-users'></i>" | customer_register_link }}</li>
        	<li>{{ "<span>Sign In</span><i class='fa fa-user'></i>" | customer_login_link }}</li>
        {% endif %}
    {% endif %}
  
  	<li>
      <a href="/pages/wish-list"><span>Wishlist</span>
        
      </a>
      <i class="gift_big_menu"></i>
  	</li>
    <li>
      <a href="/cart"><span>Cart</span></a>
      <i class="cart_big_menu"></i>
    </li>
</ul>
<form id="search_top" class="search-form" action="/search" method="get" role="search">
            <input id="search-field" type="text" name="q" placeholder="Search" />
          <button type="submit" title="Search" class="search-btn-bg" id="submit-button" onclick="javascript:document.getElementById('search_top').submit();"><span>Search</span></button>
           
        </form>
</div>



</div>
</header>
 {% endcomment %}
{% if page == pages.frontpage %}
<!-- slider -->
{% include 'widget-nivoslider' %} 
{% endif %}

<!-- Video -->
{% if false && page == pages.frontpage %}
  <section class="recent_video">
                    <div class="container">
                        <div class="row">
                            <div class="video_main_box">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left_side_box_one">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search_box_custom">
                                            <form id="search_top" class="navbar-form" action="/search" method="get" role="search">
                                                <div class="form-group">
                                                  <input id="search-field" class="form-control search_form" type="text" name="q" placeholder="Search your product here( e.g:Precision Optics)" />
                                                </div>
                                                <button type="submit" class="btn btn-default btn_search"><i class="search_img_form"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image_box_">
                                            <div class="fixOverlayDiv">
                                                <img class="img-responsive" src="{{ 'video_tacv420.jpg' | asset_url }}" alt="imgbox">
                                                <a class="OverlayText" href="/pages/video">
                                                    <p>recent videos</p><i class="next_slider_home"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right_side_box_">
                                    <img class="img-responsive" src="{{ 'CMR4_scopes.jpg' | asset_url }}" alt="optics">
                                    <div class="outer">
                                        <a href="/collections/new-optics">
                                            <div class="inner rotate">
                                                <p>optics</p><i class="next_slider_home_second"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </section>
{% endif %}
  
<!-- showcase -->
{% if page == pages.frontpage %}
<div id="showcase" class="container">
<div class="row clearfix">

    

    <div class="banner banner_2 col-lg-4 col-xs-12 col-sm-4">
    <a class="trs_bg" href="{{ settings.banner_2_link }}">
        <img src="{{ "banner_2_img.png" | asset_url }}" alt="" />
       <div class="info">
       <p>{{ settings.banner_2_text }}</p>
        <h3>{{ settings.banner_2_title }}</h3>
       <div><button class="view-btn" onclick="{{ settings.banner_2_link }}">{{ settings.banner_2_button }}</button></div>
       </div>
    </a>
    </div>

    <div class="banner banner_3 col-lg-4 col-xs-12 col-sm-4">
    <a class="trs_bg" href="{{ settings.banner_3_link }}">
        <img src="{{ "banner_3_img.png" | asset_url }}" alt="" />
       <div class="info">
        <p>{{ settings.banner_3_text }}</p>
        <h3>{{ settings.banner_3_title }}</h3>
       <div><button class="view-btn" onclick="{{ settings.banner_3_link }}">{{ settings.banner_3_button }}</button></div>
      </div>  
    </a>
    </div>

    <div class="banner banner_4 col-lg-4 col-xs-12 col-sm-4">
    <a class="trs_bg" href="{{ settings.banner_4_link }}">
        <img src="{{ "banner_4_img.png" | asset_url }}" alt="" />
       <div class="info">
        <h3>{{ settings.banner_4_title }}</h3>
        <p>{{ settings.banner_4_text }}</p>
        <div><button class="view-btn" onclick="{{ settings.banner_4_link }}">{{ settings.banner_4_button }}</button></div>
      </div>  
    </a>
    </div>

</div>
</div>
{% endif %}
  
 {% if page == pages.frontpage %} 
  <div class="container">
    <div class="row">
   <div id="main_content" class="col-main col-sm-12 col-sm-push-3-{{ content_width }}">
    {% if template == 'list-collections' %}
    {% include 'collection-listing' %}
   
    {% else %}
    {{ content_for_layout }}
    
     {% endif %}
     </div>
       </div>
  </div>
 {% endif %} 
  {% if page == pages.frontpage %} 
  <div class="container">
    <div class="row">
     
<div class="clearfix"></div>
<a href="/pages/register-products" class="btb btn-default registerbtn">Register your Hi-Lux Optic</a>
<div class="clearfix"></div>

    </div>
  </div>
   {% endif %} 
<!-- main content -->
  <!--{% if template != 'index' %}
    {% if settings.enable_breadcrumbs %}
    <div class="breadcrumbs">{% include 'snippet-breadcrumbs' %}</div>
    {% endif %}
    {% endif %}-->
  
  
  {% if collection.handle == 'all' %}
    <div class="container">
            <div class="row">
                <div class="col-sm-12 pro-head">
                    <figure>
                            
                      <img src="{{ "category-banner.jpg" | asset_url }}" alt="" />
          
                      
                    </figure>         
                        <figcaption>
                            <h1>{{ collection.title }}</h1>
                            
                            <div class="clear"></div>  
                          <p class="collection-description"> {{ settings.collection-desc }} </p>
                        </figcaption>                   
                </div>
          </div>
    </div>
  {% elsif template == 'product' or template == 'collection' %}
 
  {% elsif page != pages.frontpage and template != 'page.contact' and template != 'page' and template != 'page.register' and template != 'collection.standard' %}
	
   <div class="page_header">
    <h1 class="page_title">{{ collection.title }}</h1>
   </div>

  {% endif %}
<div id="main" class="container" role="main">

 

    <div class="row"> 
    {% case template %}
    {% when 'index' %}
    {% assign width_sidebars = false %} 
    {% when 'page.homepage' %}
    {% assign width_sidebars = false %} 
    {% when 'page.noasides' %}
    {% assign width_sidebars = false %}
    {% when 'product' %}
    {% assign width_sidebars = false %}
    {% when 'customers/register' %}
    {% assign width_sidebars = false %} 
    {% when 'customers/login' %}
    {% assign width_sidebars = false %}
    {% when 'page.contact' %}
    {% assign width_sidebars = false %}
    {% when 'customers/account' %}
    {% assign width_sidebars = false %}
    {% when 'customers/addresses' %}
    {% assign width_sidebars = false %}
    {% when 'cart' %}
    {% assign width_sidebars = false %}
    {% when 'page' %}
    {% assign width_sidebars = false %}
    {% when 'page.register' %}
    {% assign width_sidebars = true %}
    {% when 'collection.standard' %}
    {% assign width_sidebars = false %}
    {% else %}
    {% assign width_sidebars = false %}
    {% endcase %}
<!-- left column -->
    {% if settings.enable_left_sidebar %}
    {% if width_sidebars == true %}
    <div id="aside-left" class=" col-sm-{{ settings.left_sidebar_width }} column">
    {% if blog %}
    {% include 'recent-post' %}
    {% endif %} 
      
      {% if blog %}
     {% else %} 
    {% include 'widget-allcollections' %}
      {% endif %} 
      
    {% include 'widget-types' %}
    {% comment %}
    Left Best Sellers
    {% include 'best-seller-single' %}
    {% include 'widget-banner' %}{% endcomment %}
      
    
      
    </div>
    {% endif %} 
    {% endif %}
      
      
   

    {% if width_sidebars == true %}
    {% assign content_width = settings.content_width %}
    {% else %}
    {% assign content_width = 12 %}
    {% endif %}

<!-- center column -->
    <div id="main_content" class="col-main col-sm-{{ content_width }}">
       {% if template == 'index' %}
   
    {% elsif template == 'list-collections' %}
    
      
    {% include 'collection-listing' %}
   
    {% else%}
    {{ content_for_layout }}
   
    {% endif %}
    </div>

<!-- right column -->
    {% if settings.enable_right_sidebar %}
    {% if width_sidebars == true %}
    <div id="aside-right" class="col-sm-{{ settings.right_sidebar_width }} column">
     {% if blog %}
    {% include 'recent-post' %}
    {% endif %} 
      
      {% if blog %}
     {% else %} 
    {% include 'widget-allcollections' %}
      {% endif %} 
      
    {% include 'widget-types' %}
    {% comment %}    
    
    {% include 'best-seller-single' %}
    {% include 'widget-banner' %}{% endcomment %}
    </div>
    {% endif %}
    {% endif %}

    </div>
</div>


    {% comment %}Shopify does not support Internet Explorer 6.{% endcomment %}
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    
</div><!-- end of #wrapper -->

<!-- footer -->
<footer id="footer">
<div class="container">
<div class="row"> 
  
 <!-- footer block -->
<div id="bottom">


  
  <div class="bottom_block_5 col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <h3>{{ settings.bottom_block_5_title }}</h3>
    <p><i class="fa fa-map-marker"></i>{{settings.bottom_block_5_adr}}</p>
    <!--<p><i class="fa fa-map-marker"></i>{{ settings.bottom_block_5_tel}}</p>
    <p><i class="fa fa-map-marker"></i>{{ settings.bottom_block_5_email}}</p>-->
    <p><i class="fa fa-info-circle" aria-hidden="true""></i><a href="/pages/contact-us">&ensp;Contact Us</a></p>
    <p><i class="fa fa-wrench" aria-hidden="true""></i><a href="/pages/service">&ensp;Warranty Service</a></p>
    </div>
  
    <div class="bottom_block_2 col-lg-3 col-md-2 col-sm-6 col-xs-12">
    <h3>{{ settings.bottom_block_2_title }}</h3>
    <ul class="list">
    {% for link in linklists[settings.bottom_block_2_list].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
    </ul>
    </div>

    <div class="bottom_block_3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <h3>{{ settings.bottom_block_3_title }}</h3>
    <ul class="list">
    {% for link in linklists[settings.bottom_block_3_list].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
    </ul>
    </div>
  
   <div class="bottom_block_4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <h3>{{ settings.bottom_block_4_title }}</h3>
    {% include 'widget-newsletter' %} 
     <h5>Connect with Us</h5>
     <ul class="nav nav-pills nav-stacked social_list">
       {% if settings.header_social_3_fcb != '' %}<li><a href="{{settings.header_social_3_fcb}}"><i class="facebook"></i></a></li>{% endif %}
       {% if settings.header_social_1_twi != '' %}<li><a href="{{settings.header_social_1_twi}}"><i class="twitter"></i></a></li>{% endif %}
       {% if settings.header_social_4_pin != '' %}<li><a href="{{settings.header_social_4_pin}}"><i class="fliker"></i></a></li>{% endif %}
       {% if settings.header_social_2_gpl != '' %}<li><a href="javascript:void(0);"><i class="google"></i></a>{% endif %}
       </li>
     </ul>
    </div>


</div> 
  
	<div class="container copyright" role="contentinfo">
      Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }} All Rights Reserved.
	</div>
  </div>
  </div>
  <div class="hidemenu" style="display:none;">
    {% for product in collections.all.products %}
      {% for mytag in product.tags %}
        {% if mytag == 'menu' %}
      		<li>
      <a class="pull-left" href="#">
        <img class="d-flex mr-3" src="{{ product.featured_image | product_img_url: 'small' }}" alt="">
      </a>
              {% for variant in product.variants %}
              {% assign variantsku = variant.sku %}
              {% endfor %}
      <div class="media-body text-left">
        <h3 class="media-heading">{{ variantsku }}</h3>
        <p>{{ product.description | truncate: 40 }}</p>
        <a class="btn btn-default menubtn" href="{{ product.url}}">More Detail</a>
      </div>
    </li>
        {% endif %}
    {% endfor %}
    {% endfor %}
    <li><a class="pull-left" href="{{shop.url}}/collections/leatherwood-hi-lux-hunting-rifle-scopes">
        See All Items
      </a> </li>
  </div>
</footer>



<script type="text/javascript">
$(document).ready(function(){
	$('.custom-select').selectik();
  	$('.slick-next.slick-arrow').click(function(){
    	$('.bx-controls-direction .bx-next').click();
  	});
  	$('.slick-prev.slick-arrow').click(function(){
    	$('.bx-controls-direction .bx-prev').click();
  	});
  	$('#navigation .site-nav > li').eq(2).find('.site-nav-dropdown').empty();
  	$('#navigation .site-nav > li').eq(2).addClass('menuproduct').find('.site-nav-dropdown').append($('.hidemenu').html());
	$('.colwishlist').click(function(){
        $(this).parents('li').find('.wishlistform .wishbtn').click();
    });  
});
</script>
{% include 'ajaxcart' %}
{% include 'currencies' %}


{% include 'swymSnippet' %}

</body>
</html>
 {% include 'sca-quick-view-template' %}